
<!DOCTYPE>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="rating" content="general" />
    <link href="http://argo.sysu.edu.cn/p/r2.css" rel="stylesheet" type="text/css" />
    <title>逸仙时空BBS欢迎您</title>
    <meta name="keywords" content="逸仙时空, 中大，论坛，BBS, 中山大学, 高校BBS, argo, 电子公告版, 中东, 珠海校区" />
   <meta name="description" content="中山大学逸仙时空BBS" />
   <script type="text/JavaScript" src="http://argo.sysu.edu.cn/p/jquery.min.js"></script>
   <script type="text/JavaScript" src="http://argo.sysu.edu.cn/p/r2.js"></script>
  </head>

  <body>

    <div class="page">
      <div class="container">
        <div class="content">
          <div class="inviter">
            <img src="http://argo.sysu.edu.cn/avatar/{{inviter}}"/>
            <div class="img-content">
              <p>我是逸仙时空的一员，站内id是 <a target="_blank" href="http://argo.sysu.edu.cn//n/index.html#!user?userid={{inviter}}">{{inviter}}</a> 。<br>
                  亲爱的小伙伴，<br/>
                  你也跟我一起来加入逸仙时空吧！</p>
              <a href="{{url}}">&gt; 开始使用netid注册</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <a href="http://argo.sysu.edu.cn/m/">移动版</a>
	    <a href="telnet://bbs.sysu.edu.cn/">telnet</a>
	    | <small><a href="http://argo.sysu.edu.cn/CTerm-argo.zip">下载cterm
        argo</a></small> <br/>
        版权所有： 中山大学逸仙时空
        <a href="http://bbs.sysu.edu.cn/n/ann.html#!read?reqpath=:BBS_Help/">帮助</a>
        <a href="http://bbs.sysu.edu.cn/n/index.html#!board?boardname=Suggest">建议</a>
        <a href="https://github.com/argolab">项目源码</a>
      </div>
    </div>

    <script language="JavaScript" type="text/javascript">
      var Ipv6_Js_Server = (("https:" == document.location.protocol) ? "https://" : "http://");
      document.write(unescape("%3Cscript src='" + Ipv6_Js_Server + "www.ipv6forum.com/ipv6_enabled/sa/SA1.php?id=1844' type='text/javascript'%3E%3C/script%3E"));
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36510718-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
